VITE_HOST=0.0.0.0
VITE_PORT=5173
VITE_API_BASE_URL=http://backend.project.com
VITE_APP_HOST=frontend.project.com
VITE_API_BASE_URL_API=http://backend.project.com/api
VITE_WEBSOCKET_APP_HOST=ws.project.com
VITE_WEBSOCKET_APP_PORT=6001
VITE_WEBSOCKET_APP_ID=project
VITE_WEBSOCKET_APP_KEY=project-01
VITE_WEBSOCKET_APP_SECRET=project
VITE_WEBSOCKET_APP_CLUSTER=mt1
VITE_WEBSOCKET_DISABLE_STATS=false
VITE_WEBSOCKET_FORCE_TLS=false
VITE_APP_NAME=project
